/* <footer> */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--cor-principal);
  padding: 20px 100px;
}
footer h3 {
  font-family: 'montserrat-black';
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: var(--cor-preto);
  letter-spacing: 10px;
}
footer p {
  font-family: 'montserrat-medium';
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: var(--cor-preto);
  padding: 0 0 0 10px;
}
/* Responsivo */
@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }
  footer p {
    width: 100%;
    max-width: 270px;
    padding: 15px 0 0 0;
  }
}
