/* <section class="duvidas"> */
section.duvidas {
  display: flex;
  background-color: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  position: relative;
}
/* <div class="texto"> */
section.duvidas .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 700px;
  padding: 100px;
  z-index: 2;
}
section.duvidas .texto h2 {
  font-family: 'montserrat-black';
  font-size: clamp(2.5rem, 1vw, 4rem);
  color: var(--cor-branco);
}
section.duvidas .texto p {
  font-family: 'montserrat-medium';
  font-size: clamp(1rem, 1vw, 1.2rem);
  color: var(--cor-cinza-claro);
  line-height: 1.5;
  margin: 10px 0 15px 0;
}
section.duvidas .texto .duvida {
  position: relative;
  width: 100%;
  margin: 0 0 20px 0;
  transition: all 0.3s;
  cursor: pointer;
}
section.duvidas .texto .duvida h3 {
  font-family: 'montserrat-bold';
  font-size: clamp(1rem, 1vw, 1.2em);
  color: var(--cor-branco);
  line-height: 1.5;
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
  transition: all 0.3s;
  pointer-events: none;
}
section.duvidas .texto .duvida h3 img {
  width: 100%;
  max-width: 15px;
  margin: 0 10px 0 0;
  pointer-events: none;
}
section.duvidas .texto .duvida:hover h3 {
  color: var(--cor-principal);
}
section.duvidas .texto .duvida h4 {
  font-family: 'montserrat-medium';
  font-size: clamp(1rem, 1vw, 1.2em);
  color: var(--cor-cinza-claro);
  line-height: 1.5;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  pointer-events: none;
  line-height: 0;
  padding: 0 0 0 25px;
}
section.duvidas .texto .duvida.ativo h4 {
  opacity: 1;
  visibility: visible;
  line-height: 1.5;
}
/* <div class="titulo"> */
section.duvidas .imagem {
  width: 50%;
  z-index: 2;
  background-size: cover;
  background-position: center;
}
/* <img class="efeito"> */
section.duvidas img.efeito {
  position: absolute;
  bottom: -800px;
  left: 100px;
  width: 1300px;
  opacity: 0.3;
  z-index: 1;
  animation: rodandoEfeito 30s linear infinite;
}
@keyframes rodandoEfeito {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Mudanças no código quando chegar em 1000px (tablet e celular) */
@media screen and (max-width: 1000px) {
  section.duvidas {
    flex-direction: column-reverse;
  }
  /* <div class="texto"> */
  section.duvidas .texto {
    width: 100%;
    padding: 60px 20px 60px 20px;
    min-height: auto;
  }
  /* <div class="imagem"> */
  section.duvidas .imagem {
    width: 100%;
    min-height: 400px;
    z-index: 2;
  }
  /* <img class="efeito"> */
  section.duvidas img.efeito {
    bottom: -200px;
    left: -100px;
    width: 1000px;
  }
}