/* <section class="slide"> */
section.slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--cor-principal);
}
/* <div class="titulo"> */
section.slide .titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 40px 100px 30px 100px;
  z-index: 2;
}
section.slide .titulo h2 {
  font-family: 'montserrat-bold';
  font-size: clamp(1.5rem, 1vw, 2rem);
  color: var(--cor-cinza-escuro);
  line-height: 1.2;
  width: 100%;
  max-width: 500px;
}
section.slide .titulo .setas {
  display: flex;
  align-items: center;
}
section.slide .titulo .setas button {
  background-color: transparent;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 15px;
}
section.slide .titulo .setas button:hover {
  opacity: 0.7;
  transform: scale(0.9);
}
section.slide .titulo .setas button.voltar {
  margin: 0 20px 0 0;
  transform: rotate(180deg);
}
section.slide .titulo .setas button.voltar img {
  width: 100%;
  max-width: 40px;
}
section.slide .titulo .setas button.avancar img {
  width: 100%;
  max-width: 50px;
}
/* <div class="slide"> */
section.slide .slide {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  padding: 0 90px 60px 100px;
  z-index: 2;
}
section.slide .slide .itens {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  transition: all 0.3s;
}
section.slide .slide .itens .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  border-radius: 5px;
  margin: 0 10px 0 0;
  width: 300px;
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.2);
}
section.slide .slide .itens .item .cliente {
  display: flex;
  align-items: center;
}
section.slide .slide .itens .item .cliente img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
section.slide .slide .itens .item .cliente .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 10px;
}
section.slide .slide .itens .item .cliente .texto h3 {
  font-family: 'montserrat-bold';
  font-size: clamp(1rem, 1vw, 1.2rem);
  color: var(--cor-preto);
  margin: 0 0 5px 0;
}
section.slide .slide .itens .item .cliente .texto h4 {
  font-family: 'montserrat-medium';
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: var(--cor-branco);
}
section.slide .slide .itens .item p {
  font-family: 'montserrat-medium';
  font-size: clamp(1rem, 1vw, 1.2rem);
  color: var(--cor-preto);
  line-height: 1.5;
  margin: 20px 0;
}
/* <img class="efeito"> */
section.slide img.efeito {
  position: absolute;
  top: -800px;
  right: -300px;
  width: 1300px;
  z-index: 1;
  animation: rodandoEfeito 30s linear infinite;
}
@keyframes rodandoEfeito {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Responsive */
@media screen and (max-width: 1000px) {
  section.slide .titulo {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 20px 20px 20px;
  }
  section.slide .titulo .setas {
    display: none;
  }
  section.slide .slide {
    padding: 0 20px 50px 20px;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  section.slide .slide::-webkit-scrollbar {
    display: none;
  }
}
